*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEF9BF;
}
/* Title */
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #75B79E;
    margin: 40px;
}
/* Table */
/* Mobile */
.game{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    gap: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Desktop */
@media (min-width:336px) {
    .table{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 872px;
    }
    h1{
        font-size: 56px;
        line-height: 66px;
    }
}
/* Cards */
.card{
    width: 117px;
    height: 146px;
    position: relative;
}
.card-image{
    width: 100px;
    height: auto;
}
.face{
    border: 1px solid #99CEA8;
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.back-face{
    transform: rotateY(180deg);
}
.fliped .back-face {
    transform: rotateY(0deg);
}

.fliped .front-face {
    transform: rotateY(180deg);
}

.correct-card .back-face {
    transform: rotateY(0deg);
}

.correct-card .front-face {
    transform: rotateY(180deg);
}